.sidebar-section a.recommended-tech {
  display: block;
  padding: 10px 0; }

.our-service-dropdown {
  width: 540px; }
  .our-service-dropdown .title {
    margin-left: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 3px solid #6FD350; }

.footer-technologies .badge {
  font-size: 90%;
  font-weight: 500;
  margin-right: 5px;
  margin-bottom: 8px; }

.company-info {
  border-top: 1px solid #4b4b4b;
  border-bottom: 1px solid #4b4b4b; }

.copyright p {
  margin-bottom: 0; }

.founder-box .founder-position {
  color: #186DBE;
  display: block; }
.founder-box .founder-description {
  display: block;
  font-size: 90%;
  color: #3c3838; }

.section-title-center h2 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 27px;
  position: relative;
  text-align: center; }
  .section-title-center h2:before {
    margin-bottom: 0;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 20px;
    height: 1px;
    content: '';
    background-color: #f5f5f5; }
  .section-title-center h2:after {
    left: 0;
    right: 15px; }
.section-title-center span {
  border-radius: 100px;
  padding: 6px 20px;
  background-color: #fff;
  position: relative;
  z-index: 2;
  display: inline-block;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2.4px; }

.segment-intro {
  background-image: url(../images/header.jpg);
  background-size: cover;
  padding: 36px 0; }

.page-section {
  padding: 0 0 30px 0; }
